C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "INPUT+" 0 -100 0 0 60 0 L
X "PIN_TEXT" "INPUT+" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "INPUT-" 0 -200 0 0 60 0 L
X "PIN_TEXT" "INPUT-" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "V-" 0 -300 0 0 60 0 L
X "PIN_TEXT" "V-" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 1800 0 "V+" 1800 0 0 0 60 0 R
X "PIN_TEXT" "V+" 1570 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 0 1800 0 -1 0
C 1800 -100 "OUTPUT" 1800 -100 0 0 60 0 R
X "PIN_TEXT" "OUTPUT" 1570 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -100 1800 -100 -1 0
C 1800 -200 "BALANCE/_STROBE" 1800 -200 0 0 60 0 R
X "PIN_TEXT" "BALANCE/_STROBE" 1570 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -200 1800 -200 -1 0
C 1800 -300 "BALANCE" 1800 -300 0 0 60 0 R
X "PIN_TEXT" "BALANCE" 1570 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1600 -300 1800 -300 -1 0
L 200 100 1600 100 -1 0
L 1600 -400 1600 100 -1 0
L 1600 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 1650 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

